* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    overflow: hidden;
}

.form-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateZ(50px);
    z-index: 2;
}


.contact-form h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-container:hover {
    transform: translateZ(70px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    color: #777;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
}

textarea {
    resize: none;
}

.btn {
    display: block;
    margin: 0 auto;
    background: linear-gradient(145deg, #ffffff, #eeeeee);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #4caf50;
    padding: 8px 15px; 
    font-size: 15px; 
    color: #388e3c;
    font-weight: bold;
    border-radius: 20px; 
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #4caf50;
    color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    background-color: #0056b3;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #007bff, #ff00cc, #ff4500, #00bfff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#statusMessage {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #333;
}